body {
    background-color: black;
    width: 100%;
    text-align: center;
}

.toggleon {
    fill: #00eeee;
    cursor: pointer;
}

.toggleoff {
    fill: #002222;
    cursor: pointer;
}

.introtext {
    pointer-events: none;
    position: absolute;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2em;
    letter-spacing: 1pt;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    color: #ccc;
    top: 50%;
    width: 100%;
    height: 100px;
    margin-top: -75px;
    line-height: 100px;
}