html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background-color: black;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
    height: 100%;
}

.toggleon, .pushon {
    fill: #00eeee;
    cursor: pointer;
}

.toggleoff, .pushoff {
    fill: #002222;
    cursor: pointer;
}

.buttonoff {
    fill: #000000;
}

.displayoff {
    display: none;
}

.displayon {
    display: block;
}

.layeron {
    display: block;
}

.layeroff {
    display: none;
}

.texton {
    display: block;
}

.textoff {
    display: none;
}

.introtext {
    pointer-events: none;
    position: absolute;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2em;
    letter-spacing: 1pt;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    color: #ccc;
    top: 50%;
    width: 100%;
    height: 300px;
    margin-top: -150px;
    line-height: 2.2em;
}